<div class="container">
  <h2 class="text-center"><%= t('pages.home.contact.title') %></h2>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div id="contact">
        <%= simple_form_for @contact_form, url: contact_forms_path(anchor: 'contact-form') do |f| %>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <%= f.input :origin, input_html: {value: 'home_page'}, readonly: true, as: :hidden %>
              <%= f.input :email, required: true, placeholder: t('pages.welcome.fields.email'), label: false %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.input :phone, required: false, placeholder: t('pages.welcome.fields.phone'), label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 form-message">
              <%= f.input :message, as: :text, required: true, placeholder:'Message*', label: false %>
            </div>
          </div>
          <div>
            </br>
            <%= f.button :submit, t('pages.home.contact.cta'), class: "secondary-btn-white pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
