<div class="container">
  <div class="row">
    <div class="col-xs-12 references">
      <h2 class="text-center text-green">Coupures de presse</h2 class="text-center"><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="block-content-home medium-image-home flexbox-align padded row">
        <div class="logo">
          <%= link_to 'http://www.huffingtonpost.fr/2015/09/03/photos-ressemblance-chien-maitre-photographe_n_8081456.html', target:'_blank' do %>
            <%= image_tag "marketing/logos/huff.png" %>
          <% end %>
        </div>
        <div class="logo">
          <%= link_to 'http://www.parismatch.com/Animal-Story/Photos/Tels-chiens-tels-maitres-821783', target:'_blank' do %>
            <%= image_tag "marketing/logos/paris_match.png" %>
          <% end %>
        </div>
        <div class="logo">
          <%= link_to 'http://www.dailymail.co.uk/femail/article-3218156/Canine-copycats-Hilarious-photos-owners-mimicking-pets-facial-expressions-prove-owners-really-look-like-dogs.html', target:'_blank' do %>
            <%= image_tag "marketing/logos/daily.png" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
