<div class="menu">
  <% if @employee.id %>
    <%= link_to edit_onboardee_path(@employee), class:"menu-item #{"active" if progress[:employee]}" do %>
      Start
    <% end %>
    <%= link_to employee_paperworks_creation_paperworks_path(@employee), class:"menu-item #{"active" if progress[:paperworks]}" do %>
      Paperwork
    <% end %>
    <%= link_to employee_kits_path(@employee), class:"menu-item #{"active" if progress[:kits]}" do %>
      Starter kit
    <% end %>
    <%= link_to employee_trainings_path(@employee), class:"menu-item #{"active" if progress[:trainings]}" do %>
      Training
    <% end %>
    <%= link_to employee_meetings_path(@employee), class:"menu-item #{"active" if progress[:meetings]}" do %>
      Meeting
    <% end %>
    <%= link_to employees_onboarding_track_path(@employee), class:"menu-item #{"active" if progress[:track]}" do %>
      Onboard
    <% end %>

  <% else %>
    <%= link_to new_onboardee_path(@employee), class:"menu-item #{"active" if progress[:employee]}" do %>
      Start
    <% end %>
    <div class="menu-item">Paperwork</div>
    <div class="menu-item">Starter kit</div>
    <div class="menu-item">Training</div>
    <div class="menu-item">Meeting</div>
    <div class="menu-item">Onboard</div>

  <% end %>
</div>
