<% unless current_account && current_account&.finalized? %>
  <div class="block-menu">
    <div class="block-settings-menu first-settings-menu <%= "active-menu" if statut[0] == "active" %> <%= "done-menu" if statut[0] == "done" %>" id="welcome">
      <%= image_tag "accounts/settings/menu/welcome.png", class: "menu-image" %>
      <i class="fa fa-check-circle menu-checked" aria-hidden="true"></i>
      <div class="menu-text">
        <h3>Welcome</h3>
      </div>
    </div>

    <div class="block-settings-menu <%= "active-menu" if statut[1] == "active" %> <%= "done-menu" if statut[1] == "done" %>" id="company">
      <%= image_tag "accounts/settings/menu/company.svg", class: "menu-image" %>
      <i class="fa fa-check-circle menu-checked" aria-hidden="true"></i>
      <div class="menu-text">
        <h3>Company</h3>
      </div>
    </div>

    <div class="block-settings-menu <%= "active-menu" if statut[2] == "active" %> <%= "done-menu" if statut[2] == "done" %>" id="users">
      <%= image_tag "accounts/settings/menu/users.svg", class: "menu-image" %>
      <i class="fa fa-check-circle menu-checked" aria-hidden="true"></i>
      <div class="menu-text">
        <h3>Users</h3>
      </div>
    </div>

    <div class="block-settings-menu <%= "active-menu" if statut[3] == "active" %> <%= "done-menu" if statut[3] == "done" %>" id="onboarding">
      <%= image_tag "accounts/settings/menu/onboarding.svg", class: "menu-image" %>
      <i class="fa fa-check-circle menu-checked" aria-hidden="true"></i>
      <div class="menu-text">
        <h3>Onboarding track</h3>
      </div>
    </div>

    <div class="block-settings-menu <%= "active-menu" if statut[4] == "active" %> <%= "done-menu" if statut[4] == "done" %>" id="start">
      <%= image_tag "accounts/settings/menu/start.png", class: "menu-image" %>
      <i class="fa fa-check-circle menu-checked" aria-hidden="true"></i>
      <div class="menu-text">
        <h3>Let's start!</h3>
      </div>
    </div>
  </div>

<% else %>

  <div class="block-menu">
    <% if current_user.employee.owner? %>
      <%= link_to edit_account_url(current_account, subdomain: current_account.subdomain), class:"no-decoration" do %>
        <div class="block-settings-menu hover-effect first-settings-menu <%= "active-menu" if statut[1] == "active" %>" id="company">
            <%= image_tag "accounts/settings/menu/company.svg", class: "menu-image" %>
            <div class="menu-text">
              <h3>Company</h3>
            </div>
        </div>
      <% end %>

      <%= link_to employees_url(subdomain: current_account.subdomain), class:"no-decoration" do %>
        <div class="block-settings-menu hover-effect <%= "active-menu" if statut[2] == "active" %>" id="users">
            <%= image_tag "accounts/settings/menu/users.svg", class: "menu-image" %>
            <div class="menu-text">
              <h3>Employees directory</h3>
            </div>
        </div>
      <% end %>
    <% end %>

    <% if current_user.employee.owner? || current_user.employee.coordinator? %>
      <%= link_to kit_resources_path, class:"no-decoration" do %>
        <div class="block-settings-menu hover-effect <%= "active-menu" if statut[3] == "active" %>" id="training">
            <%= image_tag "accounts/settings/menu/kit.svg", class: "menu-image" %>
            <div class="menu-text">
              <h3>Welcome kits</h3>
            </div>
        </div>
      <% end %>
    <% end %>

    <% if current_user.employee.owner? || current_user.employee.manager? %>
      <%= link_to training_resources_path, class:"no-decoration" do %>
        <div class="block-settings-menu hover-effect <%= "active-menu" if statut[4] == "active" %>" id="training">
            <%= image_tag "accounts/settings/menu/training.svg", class: "menu-image" %>
            <div class="menu-text">
              <h3>Trainings library</h3>
            </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to edit_settings_profile_path(current_user.employee), class:"no-decoration" do %>
      <div class="block-settings-menu hover-effect <%= "active-menu" if statut[5] == "active" %>" id="preferences">
          <%= image_tag "accounts/settings/menu/preferences.svg", class: "menu-image" %>
          <div class="menu-text">
            <h3>Preferences</h3>
          </div>
      </div>
    <% end %>
  </div>

<% end %>
